@model MusicStore.Domain.Models.AlbumViewModels
@{
    ViewBag.Title = "Browse Albums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>
            <em>@Model.GenreName </em>Albums
    </h3>
    <ul id="album-list">
        @foreach (var album in Model.Albums)
        {
            <li>
                <a href="@Url.Action("Details", "Store", new { id = album.AlbumId })">
                    <img alt="@album.Title" src="@album.AlbumArtUrl" />
                    <span>@album.Title</span>
                </a>
            </li>
        }
    </ul>
</div>

<script>
    $(function () {
        $("#album-list img").mouseover(function () {
            $(this).animate({ height: '+=23', width: '+=23' })
                .animate({ height: '-=23', width: '-=23' });
        });
    });
</script>