@*@model MusicStore.Domain.Entities.Album*@
@model MusicStore.WebUI.Models.AlbumViewModels

@{
    ViewBag.Title = "Album - " + Model.Albums.Title;
}


<h2>Album: @Model.Albums.Title</h2>
<p>
    <img alt="@Model.Albums.Title"
         src="@Model.Albums.AlbumArtUrl" />
</p>
<div id="album-details">
        <p>
            <em>Genre:</em>
            @Model.TakeGenres.Name
        </p>
        <p>
            <em>Artist:</em>
            @Model.Artists.Name
        </p>
    <p>
        <em>Price:</em>
        @String.Format("{0:F}",
Model.Albums.Price)
    </p>
    @*<p class="button">
            @Html.ActionLink("Add to cart", "AddToCart",
            "ShoppingCart", new { id = Model.AlbumId }, "")
    </p>*@

    <p class="button">
        @Html.ActionLink("Add to cart", "Buy",
        "Cart", new { id = Model.Albums.AlbumId }, "")
    </p>

    
   
    @*<span class="glyphicon glyphicon-shopping-cart"></span>*@
</div>