@model MusicStore.Domain.Entities.Order

@{
    ViewBag.Title = "AddressAndPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("ProcessOrder", "Checkout", FormMethod.Post, new { id = "product-form" }))
{
    @Html.ValidationSummary()
    <h2>Address And Payment</h2>
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Shipping Information</legend>
        @Html.EditorForModel()
    </fieldset>
    <fieldset>
        <legend>Payment</legend>
        <p>We're running a promotion: all music is free with the promo code: "FREE"</p>
        <div class="editor-label">
            <p>@Html.ValidationMessageFor(m => m.Phone)</p>
            @Html.Label("Promo Code")
        </div>
        <div class="editor-field">
            @Html.TextBox("PromoCode")
        </div>
    </fieldset>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Complete order" />
    </div>

}

@*<script>
        $("product-form").validate({
            rules:
        })
    </script>*@

