@using MusicStore.Domain.Entities
@model MusicStore.Domain.Entities.Album
@{
    ViewBag.Title = "Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    <em>Review</em> your cart:
</h3>
@{
    if (Session["cart"] != null)
    {
        <p class="button">
            @Html.ActionLink("Checkout Now", "AddressAndPayment", "Checkout")
        </p>

        <p class="button">
            @Html.ActionLink("Continue Shopping", "Index", "Home")
        </p>
        <div id="update-message">
        </div>
        <div class="table-responsive">
            <table class="table table-responsive">
                <thead class="thead-light">
                    <tr>
                        <th>
                            Album Name
                        </th>
                        <th>
                            Price (each)
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CartLine item in (List<CartLine>)Session["cart"])
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.Album.Title,
                                "Details", "Store", new { id = item.Album.AlbumId }, null)
                            </td>

                            <td>
                                $@item.Album.Price
                            </td>
                            <td>@item.Quantity</td>
                            <td><a href="@Url.Action("Remove", "Cart", new { id = item.Album.AlbumId })">Remove from cart</a></td>
                        </tr>

                    }

                    <tr>
                        <td>
                            Total
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td id="cart-total">
                            @{
                                List<CartLine> cart = (List<CartLine>)Session["cart"];
                                var total = cart.Sum(a => a.Album.Price * a.Quantity);
                            }
                            $@total

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
    else
    {
        <h4>No item in your cart.</h4>
    }



}
