@using MusicStore.Domain.Entities
@using Microsoft.AspNet.Identity
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>

        <!-- Bootstrap CSS -->
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

        <!-- Custom styles for this template -->
        <link href="@Url.Content("~/Content/Site.css")"
              rel="stylesheet" type="text/css" />
        <!-- -->
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
        @*<script src="~/Scripts/Index.js"></script>
        @Scripts.Render("~/Scripts/Index.js")*@
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/" id="app-name">
                <img src="~/Content/Images/logo.png" />
                <span class="hidden-xs">ONLINE MUSIC STORE</span>
                <div class="visible-xs">MUSIC STORE</div>
            </a>
            <ul class="nav justify-content-end" id="navlist">
                <li class="nav-item">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Store", "Index", "Store")
                </li>
                <li><a href="@Url.Content("~/Cart/")">Cart <span class="badge">@ViewBag.count</span></a></li>
                <li class="nav-item">
                    @Html.ActionLink("My Orders", "Index", "MyOrder")
                </li>

                @if (User.IsInRole("Administrator"))
                {
                    <li>

                        @Html.ActionLink("Admin", "Login", "Account", new { isAdmin = true }, null)
                    </li>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <li> @Html.ActionLink("Log Out", "Logout", "Account")</li>
                }
                else
                {
                    <li>

                        @Html.ActionLink("Login", "Login", "Account")
                    </li>
                }
            </ul>
        </nav>
        <span id="line"></span>

        <!-- sidebar menu -->
        <div class="row panel">
            <div id="genre" class="col-xs-2">
                <div>
                    @{Html.RenderAction("GenreMenu", "Store");}
                </div>
            </div>

            <div class="col-xs-9">
                @RenderBody()
            </div>
        </div>
        <!-- footer content -->
        <footer id="footer" class="panel-footer">
            <p>© @DateTime.Now.Year - My Sport Store Application</p>
        </footer>

        <script>
            $(document).ready(function () {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '/Cart/Buy',
                    data: '{}',
                    success: function DisableEnable() {
                        if (Session["cart"] == null)
                            $("#myButton").attr('disabled', 'true');

                        else
                            $("#myButton").attr('disabled', 'false');
                    },
                })
                
            });
        </script>
    </body>
</html>
