@using MusicStore.Domain.Entities
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")"
          rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="~/Content/Images/logo.png" />
            <span class="hidden-xs">ASP.NET MVC MUSIC STORE</span>
            @*<div class="visible-xs">ASP.NET</div>
                <div class="visible-xs">MVC</div>*@
            <div class="visible-xs">MUSIC</div>
            <div class="visible-xs">STORE</div>
        </a>
        <ul class="nav justify-content-end" id="navlist">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Store/">Store</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/Cart/Buy">Cart<span class="badge">@ViewBag.li</span></a>
                @*@if (Session["cart"] != null)
                {
                    foreach (CartLine item in (List<CartLine>)Session["cart"])
                    {
                        <a class="nav-link" href="/Cart/">Cart(@item.Quantity)</a>

                    }
                }*@
            </li>
            <li><a href="@Url.Content("~/Albums/")">Admin</a></li>
        </ul>
    </nav>
    <span id="header"></span>

    @*<div class="visible-xs">
        @Html.Action("GenreMenu", "Store", new { horizontalLayout = true })
    </div>*@

    <div class="row panel">
        <div id="genre" class="col-sm-3 hidden-xs" @*class="col-xs-3"*@>
            <div>
                @{Html.RenderAction("GenreMenu", "Store");}
            </div>
        </div>


        <div @*class="col-xs-8"*@ class="col-xs-12 col-sm-8">
            @RenderBody()
        </div>
    </div>

    <footer id="footer" class="panel-footer">
        <p> built with <a href="http://asp.net/mvc">ASP.NET MVC 5</a></p>
    </footer>

</body>
</html>