@*@model IEnumerable<MusicStore.Domain.Entities.Album>*@
@using MusicStore.Domain.Entities
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Album>
@{
    ViewBag.Title = "ASP.NET MVC Music Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="promotion">
    <img class="img-responsive" src="~/Content/Images/home-showcase.png" />
</div>
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <div class="olContent">
        <h2>Search Album by Title</h2>
    </div>
    <div class="olSearch">
        <input id="btn" type="text" placeholder="Enter Keyword" name="SearchString" class="form-control" />
        <div class="searchIcon">
            <button type="submit" class="searchBtn">
                <img class="img-responsive" src="~/Content/Images/searchIcon.png" />
            </button>
        </div>
    </div>
}
<ul id="album-list">
    @foreach (var album in Model)
    {
        <li>
            <a href="@Url.Action("Details", "Store",
                new { id = album.AlbumId })">

                <img alt="@album.Title" src="@album.AlbumArtUrl" />
                <span>@album.Title</span>
            </a>
        </li>
    }
</ul>

<div id="container" style="margin-left: 20px">
    <p></p>
    <p></p>
    <div class="pagination hidden-xs" style="margin-left: 220px">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>




