@model IEnumerable<MusicStore.Domain.Entities.Album>

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Get))

{
    <p>
        Search by Album Tile: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<ul id="album-list">
    @foreach (var album in Model)
    {
        <li>
            <a href="@Url.Action("Details", "Store",
                new { id = album.AlbumId })">

                <img alt="@album.Title" src="@album.AlbumArtUrl" />
                <span>@album.Title</span>
            </a>
        </li>
    }
</ul>




